@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variáveis CSS */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --line-height: 1.5rem;
    --primary-color: #19bd53;
    --secondary-color:#ffffff;
}

/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;

}


/* editar o header */

header {
  display: flex;
  justify-content: space-between;
  height: 20%;
  width: 95%;
  margin: 2rem;
  margin-bottom: 26px;
  border-radius: 26px;
  background-color: #ffffff73;
  border: solid 1px rgb(92, 235, 92);
}

header .container-left div img {
  width: 20rem;
}

#question__theme__div {
  margin-left: 3rem;
  margin-bottom: 30px;
}

header .container-left nav ul  {
  display: flex; 
}

header .container-left nav ul li {
  list-style: none;
  margin-left: 20px;
  
}

header .container-left nav ul li a {
  
  border-radius: 26px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 7px;
}

a {
  
  border-radius: 26px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 7px;
}

header .container-right {
  /* width: 250px; */
  /* position: relative;
  float: right; */
  width: 50%;
}

header .container-right img {
  width: 20rem;
  /* position: relative;
  float: inline-start; */
  /* margin-left: 200px; */
  
} 

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* section container__charater */

#container__about {
  background-color: blue;
  width: 300px;
}


/* section container__charater */

#container__characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
}


.character__div {
  background-color: #ffffff3d;
  display: flex;
  width: 25rem;
  height: 150px;
  margin: 1rem;
  /* display: inline-block; */
  border-radius: 26px;
  /* border: solid rgba(255, 255, 255, 0.781); */
  box-shadow: 0px 0px 10px 10px #246e28;
}

.character__div .div__rigth {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.character__image {
  width: 150px;
  /* border-radius: 26px; */
  height: 100%;
  border-start-start-radius: 22px;
  border-end-start-radius: 22px;
  
}

/* .character__id {
  display: block;
}

.character__name {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.character__status {
  display: block;
  
}

.character__Buttom {
  display: block;
  padding: 7px;
  background-color: rgba(12, 201, 12, 0.548);
  border: solid rgba(253, 236, 2, 0.548);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.315);
  
} */

#control_pages {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;

}

#control_pages button {
  width: 5rem;
  height: 3rem;
}

#control_pages h2{
  text-align: center;
  width: 5rem;
  height: 3rem;
}




/* Theme Switcher */

.checkbox {
  opacity: 0;
  position: absolute;
}

label {
  width: 50px;
  height: 30px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 6px;
  position: relative;
}

.moon {
  color: #ffa502;
}

.sun {
  color: #ff4757;
}

.switcher {
  background-color: #fff;
  position: absolute;
  top: 5px;
  left:  2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.checkbox:checked + .label .switcher {
  transform: translateX(23px)
}

/* styles dos buttons */

.glow-on-hover {
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111; 
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #9adf98, #89d47f, #16a556, #48ff00, #d4e9e5, #212225, #2c7043, #246e28, #53c059);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #111; */
  background: #f3f3f300;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* styles dos buttons end */
